openapi: 3.0.3
info:
  title: Hei Wallet API
  version: 1.5.0
  description: STD22052 - STD22069
servers:
  - url: https://hei.wallet.api.com
security:
  - oauth2: []
paths:
  /ping:
    get:
      tags:
        - Api 
      summary: pong
      operationId: ping
      responses:
        200:
          $ref: '#/components/responses/Ping200'
        400:
          $ref: "#/components/responses/400"
        403:
          $ref: "#/components/responses/403"
        500:
          $ref: "#/components/responses/500"
  /transaction:
    get:
      tags:
        - Transaction 
      summary: Get all transaction
      operationId: getAllTransaction
      description: get all transaction with pagination
      parameters:
        - $ref: '#/components/parameters/PagePagination'
        - $ref: '#/components/parameters/PageSizePagination'
      security:
        - oauth2: [ admin ]
      responses:
        200:
          $ref: '#/components/responses/TransactionList200'
        400:
          $ref: "#/components/responses/400"
        403:
          $ref: "#/components/responses/403"
        500:
          $ref: "#/components/responses/500"
    put:
      tags:
        - Transaction 
      summary: Save or Update transaction
      operationId: saveOrUpdateTransaction
      description: Save list of new transaction or update if already exist 
      security:
        - oauth2: [ admin ]
      requestBody:
        required: true
        description: List of the transaction to save or update
        content:
          application/json: 
            schema:
              type: array
              items:
                $ref: '#/components/schemas/Transaction'
      responses:
        200:
          $ref: '#/components/responses/TransactionList200'
        400:
          $ref: "#/components/responses/400"
        403:
          $ref: "#/components/responses/403"
        500:
          $ref: "#/components/responses/500"
  /transaction/{transactionId}:
    get:
      tags:
        - Transaction 
      summary: Get one Transaction 
      operationId: getOneTransaction
      description: Get one transaction by a given id
      parameters:
        - in: path
          name: transactionId 
          schema:
            type: string 
            format: uuid
          description: Id of the transaction to get
          required: true
      security:
        - oauth2: [ admin, user ]
      responses:
        200:
          $ref: '#/components/responses/Transaction200'
        400:
          $ref: "#/components/responses/400"
        403:
          $ref: "#/components/responses/403"
        500:
          $ref: "#/components/responses/500"
  /account:
    get:
      tags:
        - Account 
      summary: Get all account 
      operationId: getAllAccount
      description: get all account with pagination
      parameters:
        - $ref: '#/components/parameters/PagePagination'
        - $ref: '#/components/parameters/PageSizePagination'
      security:
        - oauth2: [ admin ]
      responses:
        200:
          $ref: '#/components/responses/AccountList200'
        400:
          $ref: "#/components/responses/400"
        403:
          $ref: "#/components/responses/403"
        500:
          $ref: "#/components/responses/500"
    put:
      tags:
        - Account 
      summary: Save or Update account
      operationId: saveOrUpdateAccount
      description: Save list of new account or update if already exist 
      security:
        - oauth2: [ admin ]
      requestBody:
        required: true
        description: List of the account to save or update
        content:
          application/json: 
            schema:
              type: array
              items:
                $ref: '#/components/schemas/Account'
      responses:
        200:
          $ref: '#/components/responses/AccountList200'
        400:
          $ref: "#/components/responses/400"
        403:
          $ref: "#/components/responses/403"
        500:
          $ref: "#/components/responses/500"
  /account/{accountId}:
    get:
      tags:
        - Account 
      summary: Get one Account
      operationId: getOneAccount
      description: Get one account by a given id
      parameters:
        - in: path
          name: accountId 
          schema:
            type: string 
            format: uuid
          description: Id of the account to get
          required: true
      security:
        - oauth2: [ admin, user ]
      responses:
        200:
          $ref: '#/components/responses/Account200'
        400:
          $ref: "#/components/responses/400"
        403:
          $ref: "#/components/responses/403"
        500:
          $ref: "#/components/responses/500"
  /currency:
    get:
      tags:
        - Currency
      summary: Get all currency
      operationId: getAllCurrency
      description: get all currency with pagination
      parameters:
        - $ref: '#/components/parameters/PagePagination'
        - $ref: '#/components/parameters/PageSizePagination'
      responses:
        200:
          $ref: '#/components/responses/CurrencyList200'
        400:
          $ref: "#/components/responses/400"
        403:
          $ref: "#/components/responses/403"
        500:
          $ref: "#/components/responses/500"
    put:
      tags:
        - Currency
      summary: Save or Update currency
      operationId: saveOrUpdateCurrency
      description: Save list of new currency or update if already exist 
      security:
        - oauth2: [ admin ]
      requestBody:
        required: true
        description: List of the currency to save or update
        content:
          application/json: 
            schema:
              type: array
              items:
                $ref: '#/components/schemas/Currency'
      responses:
        200:
          $ref: '#/components/responses/CurrencyList200'
        400:
          $ref: "#/components/responses/400"
        403:
          $ref: "#/components/responses/403"
        500:
          $ref: "#/components/responses/500"
  /currency/{currencyId}:
    get:
      tags:
        - Currency
      summary: Get one currency
      operationId: getOneCurrency
      description: Get one currency by a given id
      parameters:
        - in: path
          name: currencyId
          schema:
            type: string 
            format: uuid
          description: Id of the currency to get
          required: true
      responses:
        200:
          $ref: '#/components/responses/Currency200'
        400:
          $ref: "#/components/responses/400"
        403:
          $ref: "#/components/responses/403"
        500:
          $ref: "#/components/responses/500"
components:
  parameters:
    PagePagination:
      name: page
      description: Pagination page which is 1 by default is not specified
      in: query
      schema:
        type: integer
        default: 1
    PageSizePagination:
      name: pageSize
      description: Pagination pageSize which is 50 by default is not specified
      in: query
      schema:
        type: integer
        default: 50  
  schemas:
    TransactionBody:
      allOf:
        - $ref: '#/components/schemas/ResponseBody'
        - properties:
            body:
              $ref: '#/components/schemas/Transaction'
    TransactionListBody:
      allOf:
        - $ref: '#/components/schemas/ResponseBody'
        - properties:
            body:
              type: array
              items:
                $ref: '#/components/schemas/Transaction'
    TransactionType:
      type: string
      enum:
        - WITHDRAWAL
        - DEPOSIT
        - TRANSFER
    Transaction:
      type: object
      properties:
        id:
          type: string
          format: uuid
          example: '550e8400-e29b-41d4-a716-446655440000'
        ref:
          type: string
          example: '1201-244'
        type:
          $ref: '#/components/schemas/TransactionType'
        description:
          type: string
          example: 'Some description'
        amount:
          type: number
          format: float 
          example: 2000.2
        transaction_datetime:
          type: string
          format: date-time
          example: '2021-01-01 02:01:01'
        destination_account:
          type: string
          format: uuid
          example: '550e8400-e29b-41d4-a716-446655440000'
        source_account:
          type: string
          format: uuid
          example: '550e8400-e29b-41d4-a716-446655440000'
    AccountBody:
      allOf:
        - $ref: '#/components/schemas/ResponseBody'
        - properties:
            body:
              $ref: '#/components/schemas/Account'
    AccountListBody:
      allOf:
        - $ref: '#/components/schemas/ResponseBody'
        - properties:
            body:
              type: array
              items:
                $ref: '#/components/schemas/Account'
    Account:
      type: object
      properties:
        id:
          type: string
          format: uuid
          example: '550e8400-e29b-41d4-a716-446655440000'
        name:
          type: string
          example: 'Account Name'
        type:
          $ref: '#/components/schemas/AccountType' 
        balance:
          type: number
          format: float 
          example: 2000.2
        number:
          type: string
          example: '101-0151'
        creation_date:
          type: string
          format: date
          example: '2023-01-01'
        comment: 
          type: string
          example: some comments
        owner: 
          type: string
          example: Rabe
        bank_name:
          type: string
          example: BMOI
        currency:
          $ref: '#/components/schemas/Currency'
    AccountType:
      type: string
      enum:
        - CHECKING 
        - SAVING
        - BUSINESS
        - INVESTMENT
        - CERTIFICATE_OF_DEPOSIT
    CurrencyBody:
      allOf:
        - $ref: '#/components/schemas/ResponseBody'
        - properties:
            body:
              $ref: '#/components/schemas/Currency'
    CurrencyListBody:
      allOf:
        - $ref: '#/components/schemas/ResponseBody'
        - properties:
            body:
              type: array
              items:
                $ref: '#/components/schemas/Currency'
    Currency:
      type: object
      properties:
        id:
          type: string
          format: uuid
          example: '550e8400-e29b-41d4-a716-446655440000'
        name:
          type: string
          example: 'Ariary'
        code:
          type: string
          example: 'MGA'
        symbol:
          type: string
          example: 'Ar'
        exchange_rate:
          type: number
          format: float
          example: 0.0002
        updated_at:
          type: string
          format: date
          description: current_date if not specified
          example: '2023-01-01'
    ResponseBody:
      type: object
      properties:
        code:
          type: integer
          example: 200
        message:
          type: string
          example: OK
    PingBody:
      allOf:
        - $ref: '#/components/schemas/ResponseBody'
      example:
        status:
          code: 200 
          message: pong 
        body: null 
    BadRequestBody:
      allOf:
        - $ref: '#/components/schemas/ResponseBody'
      example:
        status:
          code: 400
          message: BAD REQUEST
        body: null 
    ForbiddenBody:
      allOf:
        - $ref: '#/components/schemas/ResponseBody'
      example:
        status:
          code: 403
          message: FORBIDDEN
        body: null 
    InternalServerError:
      allOf:
        - $ref: '#/components/schemas/ResponseBody'
      example:
        status:
          code: 500 
          message: INTERNAL SERVER ERROR 
        body: null
  responses:
    Transaction200:
      description: One Transaction 
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/TransactionBody'
    TransactionList200:
      description: List of transaction 
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/TransactionListBody'
    Account200:
      description: One Account 
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/AccountBody'
    AccountList200:
      description: List of account 
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/AccountListBody'
    Currency200:
      description: One currency 
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/CurrencyBody'
    CurrencyList200:
      description: List of currency 
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/CurrencyListBody'
    Ping200:
      description: pong
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/PingBody'
    400:
      description: Bad Request
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/BadRequestBody'
    403:
      description: Forbidden
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/ForbiddenBody'
    500:
      description: Internal Server Error
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/InternalServerError'
  securitySchemes:
    oauth2:
      type: oauth2
      flows:
        implicit:
          authorizationUrl: https://hei.wallet.token.com 
          scopes:
            anonyme: User not authentificated
            admin: User authentificated as admin 
            user: User authentificated as simple user